In [8]:
import pandas as pd
import numpy as np

In [43]:
data=pd.read_csv("data.csv")
data.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   2.26      Ideal     G     SI2   61.9   57.0  8.44  8.36  5.20  12831
1   2.43  Very Good     H     SI2   63.2   57.0  8.56  8.50  5.39  16170
2   0.80    Premium     F     SI2   61.0   57.0  6.03  6.01  3.67   2797
3   0.40      Ideal     F      I1   63.3   60.0  4.68  4.64  2.95    630
4   0.31      Ideal     G     VS2   61.6   55.0  4.39  4.37  2.70    698

In [44]:
data.cut = data.cut.replace({'Ideal':1, 'Premium':2, 'Very Good':3, 'Good':4, 'Fair':5})
data.color = data.color.replace({'D':1, 'E':2, 'F':3, 'G':4, 'H':5, 'I':6, 'J':7})
data.clarity = data.clarity.replace({'IF':1,'VVS1':2,'VVS2':3, 'VS1':4, 'VS2':5, 'SI1':6, 'SI2':7, 'I1':8})

In [45]:
data.head()

   carat  cut  color  clarity  depth  table     x     y     z  price
0   2.26    1      4        7   61.9   57.0  8.44  8.36  5.20  12831
1   2.43    3      5        7   63.2   57.0  8.56  8.50  5.39  16170
2   0.80    2      3        7   61.0   57.0  6.03  6.01  3.67   2797
3   0.40    1      3        8   63.3   60.0  4.68  4.64  2.95    630
4   0.31    1      4        5   61.6   55.0  4.39  4.37  2.70    698

In [46]:
data.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z',
       'price'],
      dtype='object')

In [47]:
columns=['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z']
dictio={}
for col in columns:
    dictio[col]=[np.mean(data[col]),np.std(data[col])]
    data[col] = (data[col] - np.mean(data[col])) / np.std(data[col]) 
data.head()

,carat,cut,color,clarity,depth,table,x,y,z,price
0,3.081321,-0.982898,0.237690,1.245142,0.106170,-0.205764,2.411028,2.276274,2.339667,12831
1,3.439708,0.813048,0.826169,1.245142,1.013798,-0.205764,2.517870,2.397719,2.607386,16170
2,0.003405,-0.084925,-0.350789,1.245142,-0.522188,-0.205764,0.265287,0.237737,0.183828,2797
3,-0.839859,-0.982898,-0.350789,1.851313,1.083616,1.138849,-0.936684,-0.950686,-0.830684,630
4,-1.029593,-0.982898,0.237690,0.032800,-0.103283,-1.102173,-1.194885,-1.184901,-1.182945,698

In [48]:
dictio

{'carat': [0.7983846248918551, 0.47434706172867375],
 'cut': [2.0945742182672107, 1.1136190104698211],
 'color': [3.596094425905327, 1.699296334257983],
 'clarity': [4.945890495612409, 1.6496989781320772],
 'depth': [61.74793227042392, 1.432304211301513],
 'table': [57.459085403534786, 2.2311247479318106],
 'x': [5.7320410332468175, 1.1231552124447206],
 'y': [5.735939438882709, 1.1527875826743381],
 'z': [3.5395370164380178, 0.7097005697720964]}

In [15]:
from h2o.automl import H2OAutoML

In [17]:
import h2o
h2o.init(nthreads = -1, max_mem_size = 4)

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: java version "11.0.5" 2019-10-15 LTS; Java(TM) SE Runtime Environment 18.9 (build 11.0.5+10-LTS); Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.5+10-LTS, mixed mode)
  Starting server from /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /var/folders/f7/r45mv1ds0qv1y1jwrn23jnxm0000gn/T/tmp2s5msce6
  JVM stdout: /var/folders/f7/r45mv1ds0qv1y1jwrn23jnxm0000gn/T/tmp2s5msce6/h2o_alvarorivas_started_from_python.out
  JVM stderr: /var/folders/f7/r45mv1ds0qv1y1jwrn23jnxm0000gn/T/tmp2s5msce6/h2o_alvarorivas_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         02 secs
H2O cluster timezone:       Europe/Madrid
H2O data parsing timezone:  UTC
H2O cluster version:        3.26.0.11
H2O cluster version age:    3 days
H2O cluster name:           H2O_from_python_alvarorivas_r23x09
H2O cluster total nodes:    1
H2O cluster free memory:    4 Gb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.7.2 final
--------------------------  ------------------------------------------------------------------

In [18]:
datah2o=h2o.H2OFrame(data)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [19]:
y_columns="price"
x_columns=['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z']

In [49]:
train, test=datah2o.split_frame(ratios = [.8])

In [50]:
aml = H2OAutoML(max_runtime_secs= 180,max_models= 15, seed= 1, nfolds=0)
aml.train(x = x_columns, y = y_columns, training_frame = train, validation_frame=test)

AutoML progress: |████████████████████████████████████████████████████████| 100%

In [51]:
lb= aml.leaderboard
lb

model_id,mean_residual_deviance,rmse,mse,mae,rmsle
GBM_3_AutoML_20191209_160203,283654,532.592,283654,274.565,nan
XGBoost_1_AutoML_20191209_160203,285032,533.884,285032,266.711,0.0902077
GBM_2_AutoML_20191209_160203,287653,536.332,287653,276.613,nan
GBM_4_AutoML_20191209_160203,288514,537.135,288514,268.508,nan
XGBoost_2_AutoML_20191209_160203,288747,537.352,288747,266.914,0.089018
GBM_1_AutoML_20191209_160203,290703,539.169,290703,281.861,0.102584
XGBoost_3_AutoML_20191209_160203,291105,539.542,291105,285.294,0.105011
GBM_5_AutoML_20191209_160203,292166,540.524,292166,273.824,0.10671
XRT_1_AutoML_20191209_160203,313691,560.081,313691,283.147,0.0947618
DRF_1_AutoML_20191209_160203,314025,560.379,314025,285.383,0.0948309

In [67]:
datatest=pd.read_csv("test.csv")
datatest

          id  carat      cut color clarity  depth  table     x     y     z
0          0   0.56    Ideal     I     VS2   62.1   54.0  5.30  5.33  3.30
1          1   1.05    Ideal     G     VS2   61.9   56.0  6.56  6.52  4.05
2          2   0.50  Premium     E     VS2   61.5   56.0  5.11  5.07  3.13
3          3   0.80    Ideal     F     VS1   62.8   56.0  5.91  5.96  3.73
4          4   0.54    Ideal     G     VS1   61.4   57.0  5.23  5.20  3.20
...      ...    ...      ...   ...     ...    ...    ...   ...   ...   ...
13480  13480   0.70  Premium     H     SI1   59.0   60.0  5.86  5.81  3.44
13481  13481   0.55    Ideal     G    VVS2   62.3   53.0  5.27  5.29  3.29
13482  13482   1.54    Ideal     G     SI1   61.5   55.0  7.40  7.45  4.57
13483  13483   0.30  Premium     G     SI2   62.7   55.0  4.29  4.26  2.68
13484  13484   0.42    Ideal     E    VVS2   61.3   56.0  4.85  4.81  2.96

[13485 rows x 10 columns]

In [68]:
datatest.cut = datatest.cut.replace({'Ideal':1, 'Premium':2, 'Very Good':3, 'Good':4, 'Fair':5})
datatest.color = datatest.color.replace({'D':1, 'E':2, 'F':3, 'G':4, 'H':5, 'I':6, 'J':7})
datatest.clarity = datatest.clarity.replace({'IF':1,'VVS1':2,'VVS2':3, 'VS1':4, 'VS2':5, 'SI1':6, 'SI2':7, 'I1':8})

In [69]:
print(columns)
datatest

['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z']

          id  carat  cut  color  clarity  depth  table     x     y     z
0          0   0.56    1      6        5   62.1   54.0  5.30  5.33  3.30
1          1   1.05    1      4        5   61.9   56.0  6.56  6.52  4.05
2          2   0.50    2      2        5   61.5   56.0  5.11  5.07  3.13
3          3   0.80    1      3        4   62.8   56.0  5.91  5.96  3.73
4          4   0.54    1      4        4   61.4   57.0  5.23  5.20  3.20
...      ...    ...  ...    ...      ...    ...    ...   ...   ...   ...
13480  13480   0.70    2      5        6   59.0   60.0  5.86  5.81  3.44
13481  13481   0.55    1      4        3   62.3   53.0  5.27  5.29  3.29
13482  13482   1.54    1      4        6   61.5   55.0  7.40  7.45  4.57
13483  13483   0.30    2      4        7   62.7   55.0  4.29  4.26  2.68
13484  13484   0.42    1      2        3   61.3   56.0  4.85  4.81  2.96

[13485 rows x 10 columns]

In [59]:
dictio

{'carat': [0.7983846248918551, 0.47434706172867375],
 'cut': [2.0945742182672107, 1.1136190104698211],
 'color': [3.596094425905327, 1.699296334257983],
 'clarity': [4.945890495612409, 1.6496989781320772],
 'depth': [61.74793227042392, 1.432304211301513],
 'table': [57.459085403534786, 2.2311247479318106],
 'x': [5.7320410332468175, 1.1231552124447206],
 'y': [5.735939438882709, 1.1527875826743381],
 'z': [3.5395370164380178, 0.7097005697720964]}

In [70]:
for col in columns:
    datatest[col] = (datatest[col] - dictio[col][0] / dictio[col][1])
datatest

,id,carat,cut,color,clarity,depth,table,x,y,z
0,0,-1.123123,-0.880871,3.883774,2.001944,18.989094,28.246583,0.196484,0.354288,-1.687367
1,1,-0.633123,-0.880871,1.883774,2.001944,18.789094,30.246583,1.456484,1.544288,-0.937367
2,2,-1.183123,0.119129,-0.116226,2.001944,18.389094,30.246583,0.006484,0.094288,-1.857367
3,3,-0.883123,-0.880871,0.883774,1.001944,19.689094,30.246583,0.806484,0.984288,-1.257367
4,4,-1.143123,-0.880871,1.883774,1.001944,18.289094,31.246583,0.126484,0.224288,-1.787367
...,...,...,...,...,...,...,...,...,...,...
13480,13480,-0.983123,0.119129,2.883774,3.001944,15.889094,34.246583,0.756484,0.834288,-1.547367
13481,13481,-1.133123,-0.880871,1.883774,0.001944,19.189094,27.246583,0.166484,0.314288,-1.697367
13482,13482,-0.143123,-0.880871,1.883774,3.001944,18.389094,29.246583,2.296484,2.474288,-0.417367
13483,13483,-1.383123,0.119129,1.883774,4.001944,19.589094,29.246583,-0.813516,-0.715712,-2.307367
13484,13484,-1.263123,-0.880871,-0.116226,0.001944,18.189094,30.246583,-0.253516,-0.165712,-2.027367

In [75]:
datah2otest=h2o.H2OFrame(datatest)
len(datah2otest)

Parse progress: |█████████████████████████████████████████████████████████| 100%

13485

In [98]:
predfinal = aml.leader.predict(datah2otest)
pdpred = h2o.as_list(predfinal)

gbm prediction progress: |████████████████████████████████████████████████| 100%

In [100]:
len(pdpred)==len(datatest)

True

In [102]:
predictions=pd.DataFrame({'id':datatest['id'],'price':pdpred['predict']})

In [110]:
predictions.to_csv('submition.csv',index=False)